# Токен бота (получить у @BotFather)
BOT_TOKEN=сюда_вставь_токен_от_BotFather

# Твой Telegram ID (уже знаем)
ADMIN_USER_ID=сюда_свой_айди

# Настройки MySQL (те, что создавали)
DB_HOST=localhost
DB_PORT=3306
DB_USER=isu_bot
DB_PASSWORD=твой_пароль_для_бота
DB_NAME=isu_bot


